.trianglePrism {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 100px auto;
  perspective: 800px;
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  cursor: grab;
}

.face {
  position: absolute;
  opacity: 0.95;
}

.front {
  width: 205px;
  height: 110px;
  background-color: var(--tertiary-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translateZ(50px) translateY(30px);
}

.back {
  width: 205px;
  height: 110px;
  background-color: var(--tertiary-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotateY(180deg) translateY(30px) translateZ(-39px);
}

.bottom {
  width: 205px;
  height: 10px;
  background-color: var(--tertiary-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotateX(90deg) translateY(40px) translateZ(-140px);
  transform-origin: top;
}

.left {
  width: 30px;
  height: 215px;
  background-color: var(--tertiary-color);
  clip-path: polygon(0% 0%, 40% 0%, 41% 70%, 0% 70%);
  transform: rotateY(90deg) translateY(-26px) rotateX(-43deg) translateX(-50px) translateZ(40px);
  transform-origin: left;
}

.right {
  width: 30px;
  height: 168px;
  background-color: var(--tertiary-color);
  clip-path: polygon(0% 0%, 40% 0%, 40% 90%, 0% 90%);
  transform: rotateY(90deg) translateY(125px) rotateX(43deg) translateX(-20px) translateZ(175px);
  transform-origin: right;
}