.trianglePrism {
  position: relative;
  width: 140px;
  height: 60px;
  margin: 100px auto;
  transition: transform 0.1s ease-out;
  perspective: 800px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  opacity: 0.95;
}

.front {
  width: 141px;
  height: 75px;
  background-color: var(--dark-color);
  clip-path: polygon(45% 0%, 0% 100%, 102% 100%);
  transform: translateZ(30px) translateY(18px);
}

.back {
  width: 141px;
  height: 76px;
  background-color: var(--dark-color);
  clip-path: polygon(55% 0%, 0% 100%, 102% 100%);
  transform: rotateY(180deg) translateY(18px) translateZ(-18px);
}

.bottom {
  width: 140px;
  height: 12px;
  background-color: var(--dark-color);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotateX(96deg) rotateY(-0deg) translateY(8px) translateZ(-96px);
  transform-origin: top;
}

.left {
  width: 30px;
  height: 140px;
  background-color: var(--dark-color);
  clip-path: polygon(0% 0%, 40% 0%, 41% 70%, 0% 70%);
  transform: rotateY(90deg) translateY(-15px) rotateX(-41deg) translateX(-30px) translateZ(24px);
  transform-origin: left;
}

.right {
  width: 30px;
  height: 110px;
  background-color: var(--dark-color);
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 59% 100%);
  transform: rotateY(90deg) rotateX(47deg) translateY(55px) translateX(-18px) translateZ(50px);
  transform-origin: right;
}